<!DOCTYPE html>
<html>
<head>
	<title>Soft Rain</title>
 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
	<script>
		function handle(dat){{
			location.reload();
		}}
	</script>
	<style>
	.ui-block-a, .ui-block-b, .ui-block-c {{
		vertical-align: middle; 
		text-align: center; 
	}}
	</style>
</head>
<body>
 
<div data-role="page">
 
	<div data-role="header">
		<h1>Soft Rain</h1>
	</div><!-- /header -->
	
	<div role="main" class="ui-content">
	</div><!-- /content -->
	
	<div data-role="footer">
		<h4></h4>
	</div><!-- /footer -->
</div><!-- /page -->
 
</body>
</html>